@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

$heading_font: 'Oswald', sans-serif;
$content_font: 'Roboto Slab', serif;
$main_font: 'Open Sans';