.news{
    h2{
        margin-bottom: 25px;
        display: block;
        margin-left: -2px;
        border-bottom: 1px solid black;
        .new_button{
            float: right;
            font-size: 16px;
            line-height: 33px;
        }
    }
    h3{
        margin-left: -1px;
    }
    article{
        margin-bottom: 25px;
        .link{
            &:hover{
                color: $link_color_hover;
                cursor: pointer;
            }
        }
        span{
            font-size: 12px;
            margin: 4px 0 10px 0;
            display: block;
            a{
                float: right;
                margin-left: 10px;
                &:after{
                    clear: both;
                }
            }
        }
        p{
            font-size: 14px;
            line-height: 24px;
            text-align: justify;
        }
    }
    
    
}