.sidebar{
	padding-bottom: 25px;
}

.news_divider{
	height: 30px;
}

.border_right{
    border-right: 1px solid #F1F1F1;
}

.read_more:hover {
    cursor: pointer;
    .link{
        color: $link_color_hover;    
    }
}

@media (max-width: 990px){
	.sidebar{
		padding: 5px 25px 55px 25px;
   		margin: 30px 0px;
	}
    
    .border_right{
        border: none;
    }
}