<div class="container">
    <div class="row">
        <div class="col col-md-8 news border_right" id="content">
            <article>
                <h3>{{singleNews.title}}</h3>
                <span class="info">
                    {{singleNews.firstname}} {{singleNews.lastname}} - {{singleNews.tag_name}} - {{singleNews.creationDate | date:"ddMMyyhhmm"}}
                    <a (click)="delete()" *ngIf="showEditLinks()">Löschen</a>
                    <a (click)="openUpdate()" *ngIf="showEditLinks()">Bearbeiten</a>
                </span>
                <p class="article_content" [innerHTML]="singleNews.content_show"></p>
            </article>
        </div>
        <div class="col col-md-4">
            <input type="text" [(ngModel)]="input_comment" (keypress)="keyEventHandler($event)" placeholder="Was hälst du davon?" class="comment_textarea">
            <div *ngFor="#comment of comments">
                <hr>
                <span class="username">{{comment.username}}</span>
                <span class="date">{{comment.date | date:"ddMMyyhhmm"}}</span>
                <p class="comment">{{comment.content}}</p>
            </div>
            <br/>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">News-Beitrag bearbeiten</h4>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="input_title">
        <textarea type="text" [(ngModel)]="input_content"></textarea>
        <select [(ngModel)]="input_tag_id">
            <option *ngFor="#tag of tags" [value]="tag.id">{{tag.title}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <button type="button" (click)="updateNews()" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>